@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
  !function(a,b,c,d,e,f,g,h){a.RaygunObject=e,a[e]=a[e]||function(){
  (a[e].o=a[e].o||[]).push(arguments)},f=b.createElement(c),g=b.getElementsByTagName(c)[0],
  f.async=1,f.src=d,g.parentNode.insertBefore(f,g),h=a.onerror,a.onerror=function(b,c,d,f,g){
  h&&h(b,c,d,f,g),g||(g=new Error(b)),a[e].q=a[e].q||[],a[e].q.push({
  e:g})}}(window,document,"script","//cdn.raygun.io/raygun4js/raygun.min.js","rg4js");
</script>
<script type="text/javascript">
  rg4js('apiKey', 'sCPJaWgfnc/vUwayzF8xjQ==');
  rg4js('enableCrashReporting', true);
  rg4js('enablePulse', true);
</script>

<h2>Kandban</h2>

<div ng-class="{'toad' : hypno}">

    <div>
        <div class="row">
            <div class="greetings col-md-12">
                <h6>{{greeting}}</h6>
                <h5>I'm not your buddy, pal </h5>
                <h4>I'm not your pal, guy </h4>
                <h3>I'm not your guy, friend</h3>
                <div class="row">
                    <div>
                        <img src="~/Content/Images/giphy.gif" ng-show="state == 1" />
                        <img src="~/Content/Images/nice.gif" ng-show="state == 2" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 btn-bar">
            <input type="button" value="Add new board" class="btn btn-primary" ng-click="openModal()" ng-show="state == 1" />
            <input type="button" value="Add new column" class="btn btn-primary" ng-click="openColumnModal()" ng-show="state == 2" />
            <input type="button" value="Add new task" class="btn btn-primary" ng-click="openTaskModal()" ng-show="state == 2" />
            <input type="button" value="Back" class="btn btn-primary" ng-click="back()" ng-show="state != 1" />
        </div>

        <div class="boards col-md-3" ng-repeat="b in boards" ng-show="state == 1">
            {{b.Name}}
            <input type="button" value="View" class="btn  btn-info" ng-click="changeBoard(b.Slug)" />
        </div>

        <div class="kanban row" ng-show="state == 2">
            <h1>{{board.Name}}</h1>
            <ul class="col-md-3" ng-repeat="col in board.Columns | orderBy : 'Order'"
                ng-drop="true"
                ng-drop-success="onDropComplete($data, col)">
                <h3>{{col.Name}} - {{col.Order}}</h3>
                <li ng-repeat="task in col.Tasks"
                    ng-drag="true"
                    ng-drag-data="task"
                    ng-drag-success="onDragComplete($data, $event, col)">
                    <div class="btn btn-primary">{{task.Name}}</div>
                </li>
            </ul>
        </div>

        <p ng-show="error">There has been an error - {{error}}</p>

        <script type="text/ng-template" id="myModalBoardContent.html">
            <div class="modal-header">
                <h3 class="modal-title" ng-show="state == 1">Add new board</h3>
            </div>
            <div class="modal-body">
                <img src="/Content/Images/threefiddy.gif" ng-show="state == 1" />
                <form name="angularBoardForm" ng-submit="addBoard(board, angularBoardForm.$valid)" novalidate>
                    <div ng-show="state == 1">
                        <label>Name:</label>
                        <input type="text" ng-model="board.Name" class="form-control" required />
                        <div class="alert alert-danger" role="alert" ng-show="ng-touched && ng-invalid">You have to provide a name for the new board</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" ng-show="state == 1" ng-disabled="angularBoardForm.$invalid">Save</button>
                <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
            </div>
        </script>

        <script type="text/ng-template" id="myModalColumnContent.html">
            <div class="modal-header">
                <h3 class="modal-title" ng-show="state == 2">Add new column</h3>
            </div>
            <div class="modal-body">
                <img src="/Content/Images/alian.gif" ng-show="state == 2" />
                <form name="angularColumnForm" ng-submit="addColumn(column, board, angularColumnForm.$valid)" novalidate>
                    <div ng-show="state == 2">
                        <label>Name:</label>
                        <input type="text" ng-model="column.Name" class="form-control" required />
                        <label>Order:</label>
                        <input type="number" ng-model="column.Order" class="form-control" required />
                        <div class="alert alert-danger" role="alert" ng-show="ng-touched && ng-invalid">You have to provide a name for the new board</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" ng-show="state == 2" ng-disabled="angularColumnForm.$invalid">Save</button>
                <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
            </div>
        </script>

        <script type="text/ng-template" id="myModalTaskContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Add new task</h3>
            </div>
            <div class="modal-body">
                <img src="/Content/Images/towli.gif" />
                <form name="angularTaskForm" ng-submit="addTask(task, column, board, angularTaskForm.$valid)" novalidate>
                    <div>
                        <label>Name:</label>
                        <input type="text" ng-model="task.Name" class="form-control" required />
                        <div class="alert alert-danger" role="alert" ng-show="ng-touched && ng-invalid">You have to provide a name for the new board</div>

                        <div class="form-group">
                            <label for="sel1">Select list:</label>
                            <select class="form-control" ng-model="column.Slug" ng-options="column.Slug as column.Name for column in board.Columns"></select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" ng-disabled="angularTaskForm.$invalid">Save</button>
                <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
            </div>
        </script>
    </div>
</div>