@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>

<div ng-app="Kandban">
    <div ng-controller="MainController as vm">

        {{vm.greeting}} , I'm not you buddy guy!, I'm not you guy friend!, I'm not you friend buddy!

        <div ng-repeat="board in vm.boards">
            <p>{{board.Name}}</p>
        </div>

        <p ng-show="error">There has been an error - {{vm.error}}</p>

        <input type="button" value="" class="btn-primary" ng-click="vm.getboard('danmo')" />
        <p>
            {{vm.board}}
        </p>
    </div>
</div>